@import "_variables"
@import "_mixins"

body
	margin: 0
	background-color: $white
	font: 16px/1.3 Georgia, serif
	width: 100%
	min-width: 320px
	box-sizing: border-box

p
	margin-top: 0

	
.wrapper
	+responsive(device)
		padding: 0 20px

	max-width: 1280px
	margin: 0 auto
	width: 100%
	padding: 0 30px
	box-sizing: border-box

a
	color: #000

.header-info
	min-height: 175px
	padding-top: 34px
	box-sizing: border-box
	background: url(../img/header.jpg) 85% 100% no-repeat
	
	+responsive(mobile)
		padding-bottom: 140px

	a
		text-decoration: none
		display: inline-block
		
		+responsive(desktop)
			padding-left: 175px

	h2
		font-size: 20px
		color: $red
		margin: 0
		text-transform: uppercase
		
		+responsive(desktop)
			font-size: 33px
	
	h1
		color: #7b7b7b
		font-weight: 400
		margin: 0
		line-height: .8
		font-size: 48px
		
		+responsive(desktop)
			font-size: 80px

.menu-mobile
	display: flex
	justify-content: space-between
	align-items: center
	padding-top: 20px
	
	+responsive(desktop)
		display: none
	
	
	ul
		margin-bottom: 0

.menu-icon
	width: 40px
	height: 40px
	margin-right: 10px
	background: url(../img/menu.svg) 0 0/contain no-repeat

.main-info
	min-height: 176px
	background-color: $red
	
	+responsive(mobile)
		padding-bottom: 30px

	&__content
		display: flex
		flex-flow: wrap

		+responsive(mobile)
			flex-flow: column

	&__img
		
		+responsive(tabletdesktop)
			width: 25%

		+responsive(desktop)
			max-width: 274px

		+responsive(largeDesktop)
			margin-right: 20px

		img
			vertical-align: top
			max-width: 100%

	&__item
		box-sizing: border-box
		color: #fff
		padding-top: 30px

		+responsive(tabletdesktop)
			padding: 20px 15px

		+responsive(tabletdesktop)
			width: 50%

		+responsive(desktop)
			width: 25%

		p
			margin-bottom: 0

	h3
		margin: 0 0 16px
		font-weight: 600

.menu-mobile-close
	+responsive(device)
		width: 30px
		height: 30px
		display: flex
		right: 30px
		align-self: flex-end
		position: absolute
		margin-top: -6px
		background: url(../img/menu-close.svg) 0 0/contain no-repeat

.page-info
	&__content
		display: flex

		aside
			min-width: 160px
			margin-right: 20px
			padding-top: 40px

			+responsive(device)
				display: none
			
			&.opened
				position: absolute
				z-index: 9
				width: 100%
				box-sizing: border-box
				top: 0
				display: flex
				flex-flow: column
				left: 0
				margin: 0
				padding: 30px 20px
				box-shadow: 0 4px 4px rgba(49,49,49, .4)
				background-color: #fff

	&__text
		line-height: 1.4

		+responsive(desktop)
			padding: 40px 0 0 40px

		h2
			+responsive(desktop)
				margin: 0 0 20px -40px

		img
			max-width: 100%
			margin-bottom: 20px
			
			+responsive(tabletdesktop)
				max-width: 300px
				margin-right: 20px
				float: left

.menu
	display: flex
	flex-flow: column
	align-items: flex-start

	a
		font-weight: bold
		font-style: italic
		padding: 5px 8px 5px 8px
		margin: 3px 0
		color: #000
		transition: all .3s linear
		
		&:hover,
		&.active
			color: #fff
			background: $red
			text-decoration: none

.menu-banner
	margin-top: 40px

.lang
	display: flex
	padding: 0
	margin: 0 0 15px

	li
		list-style: none
		position: relative
		
		+responsive(device)
			padding-right: 18px
			margin-right: 12px
		
		+responsive(desktop)
			padding-right: 8px
			margin-right: 2px

		&:last-child
			&:after
				content: none

		&:after
			content: '|'
			position: absolute
			right: 0
	
	a
		&:hover
			text-decoration: none


footer
	background-color: #7b7b7b
	color: #fff
	padding: 15px 0
	margin-top: 40px
	
	+responsive(desktop)
		margin-top: 100px

.footer-copyright
	+responsive(desktop)
		padding-left: 220px

	p
		margin-bottom: 0
	
	a
		color: #fff

